body{
    font-family:Arial,sans-serif;
    background:#f4f7fc;
}

.container{
    width:90%;
    margin:auto;
    text-align:center;
    margin-top:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card{
    background:white;
    padding:25px;
    width:250px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}